/*
Theme Name: CT Bell
Description: CT Bell - Divi Child Theme
Author:  acceseo
Author URI:  http://www.acceseo.com
Template: Divi
Version:  1.0
*/

@import url("../Divi/style.css");

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

$titulos: 'Montserrat', sans-serif;
$textos: 'Raleway', sans-serif;
$corporativo: #93c7d5;
$gris: #444444;

p{
	padding-bottom:0px;
	line-height: 1;
}

#page-container{
	overflow: hidden;
}

.entry-content{
	display: flex;
    flex-direction: column;
}

#top-menu{ 

	li{
		@media (max-width: 1400px) and (min-width: 1240px){
    		padding-right: 14px !important;	
		}
		@media (max-width: 1240px) and (min-width: 981px){
    		padding-right: 7px !important;	
		}

		a{
			@media (max-width: 1400px) and (min-width: 1050px){
				font-size: 14px !important;
			}   
			@media (max-width: 1050px) and (min-width: 981px){
				font-size: 13px !important;
			}   
		}
	}

	.current-menu-ancestor{
		a{
			color:#646464 !important;
			font-weight: bold !important;
		}
	}
}



#et-top-navigation{

	@media (max-width: 1200px) and (min-width: 981px){
		padding-left:0px !important;
	}

	.sub-menu{
		.menu-item{
			a{
				&::before{
					content:"" !important;
				}
			}
		}
	}
	.menu-item{
		a{
			font-size:16px;
			font-weight: 400;
			color:#646464;
			text-transform: uppercase;
			font-family: $titulos;
		}
	}


	.current-menu-item {
		a{
			font-weight: 600 !important;
			color:#646464 !important;
			&::before{
				content: "\f2d1";
			    font-family: 'FontAwesome';
			    position: absolute;
			    left: 50%;
			    top: 16px;
			    margin-left: -8px !important;
			    color: #92C6D4;
			}
		}

	}
}

.logo_container {

	@media (max-width: 981px){
		max-width: 80% !important;
	}

	#logo{
		max-width: 265px;
	    max-height: 75px !important;

	    @media (max-width: 1240px){
	    	max-width: 150px;
	    }
    }
}

.home-seccion1{
	background-position: bottom !important;
    height: 77vh;
    order:1;
    // background-image: url(http://acceseo.com.es/ctbell/wp-content/uploads/2018/03/portada-home-1.jpg)!important;
    display: flex;
    align-items: center;

    @media all and (max-width: 981px) and (min-width: 650px){
    	text-align: center;

    	.titulo1{
			font-size:30px !important;

		}
		.titulo2{
			font-size:45px !important;
		}
    }
    @media all and (max-width: 650px){
    	text-align: center;

    	.titulo1{
			font-size:20px !important;

		}
		.titulo2{
			font-size:30px !important;
		}
    }

    .max-width{
    	max-width: 1170px;
        justify-content: center;
	    display: flex;
	    flex-direction: column;
	    width: 100%;
	    

	    @media (min-width: 981px){
	    	margin-left:20%;
	    }
    }

	.et_pb_text_inner{
	    padding-top: 200px;
	}
	.titulo1{
		font-size:40px;
		font-family: $titulos;
		color:white;
		font-weight: lighter;

	}
	.titulo2{
		font-size:80px;
		font-family: $titulos;
		color:white;
		font-weight: bold;
	}
	.background{
		max-width: 245px;
   		background: white;
        margin-top: 50px;
        border-radius: 3px;

        &:hover{
        	background: -webkit-linear-gradient(left, #93c7d5, #222d80);
        	a{
        		color: white !important;
    		    -webkit-text-fill-color: initial !important;
        	}
        }

        @media all and (max-width: 981px){
        	max-width: initial !important;
        	width: 80%;
        	margin-left:10%;
        }
	}
	.boton{
		width: 100%;
		text-align: center;
		display: inline-block;
	    background: -webkit-linear-gradient(left, #93c7d5, #222d80);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		font-size:22.68px;
  		font-family: $titulos;
  		text-transform: uppercase;
  		padding: 17.5px 0px;
	}
	.et_pb_button_module_wrapper{
		margin-top: 52px;
	}
}



.home-seccion2{

	order:2;

	.et_pb_row {
		@media (max-width: 981px){
	    	padding: 0px !important;
	    }
	}

	.et_pb_row_1{
		@media (max-width: 981px){
			margin-bottom: 30px !important;
		}
	}

	.et_pb_column_1, .et_pb_column_2, .et_pb_column_3, .et_pb_column_4{
		@media (max-width: 480px){
		    width: 47.25%!important;
			margin-right: 5.5%;
		}
	}
	.et_pb_row_1-2_1-4_1-4>.et_pb_column.et_pb_column_1_4:nth-child(odd), .et_pb_row_1-4_1-4>.et_pb_column.et_pb_column_1_4:nth-child(even), .et_pb_row_1-4_1-4_1-2>.et_pb_column.et_pb_column_1_4:nth-child(even), .et_pb_row_4col>.et_pb_column.et_pb_column_1_4:nth-child(even) {
    	
    	@media (max-width: 480px){
   			margin-right: 0 !important;
		}
	}

	.titulo{
	    font-size: 34.52px;
	    font-family: "Montserrat", sans-serif;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: 500;
	    color: #434343;
        margin-bottom: 50px;

        @media (max-width: 1250px) and (min-width: 510px){
        	font-size: 25px;
        }
        @media (max-width: 510px){
        	font-size: 18px;
        }

		&::after{
		    content: "\f2d1";
		    font-family: 'FontAwesome';
		    position: absolute;
		    left: 50%;
		    top: 40px;
		    margin-left: -13px !important;
		    color: #92C6D4;
		    font-size: 26px;
		}
	}
	.texto1, .texto2, .texto3, .texto4, .texto5, .texto6, .texto7, .texto8{
		font-family: $titulos;
		font-size:23px;
		font-weight: lighter;
		margin-top:10px;

		@media (max-width: 1250px) and (min-width: 480px){
			font-size:19px !important;
		}
		@media (max-width: 480px){
		    font-size: 13px !important;
		}
	}
	.et_pb_text_inner{
		text-align: center;
	}
	.fa{
		font-size:50px;
		margin-bottom:10px;
	}
	.texto1, .fa-wifi{
		background: -webkit-linear-gradient(left, #c8e555, #f0b223);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		-webkit-transition: width 2s; /* Safari */
    	transition: width 2s;	
	}
	.fa-wifi:hover{
		background: -webkit-linear-gradient(right, #c8e555, #f0b223);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		-webkit-transition: 2s; /* Safari */
		transition: 2s;
  	}

	.texto2, .fa-microphone{
		background: -webkit-linear-gradient(left, #f0b223, #ec6745);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.fa-microphone:hover{
		background: -webkit-linear-gradient(right, #f0b223, #ec6745);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.texto3, .fa-tablet{
		background: -webkit-linear-gradient(left, #ec6745, #c44141);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.fa-tablet:hover{
		background: -webkit-linear-gradient(right, #ec6745, #c44141);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.texto4, .fa-phone{
		background: -webkit-linear-gradient(left, #c44141, #dd4b99);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  	}
  	.fa-phone:hover{
		background: -webkit-linear-gradient(right, #c44141, #dd4b99);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.texto5, .fa-globe{
		background: -webkit-linear-gradient(left, #dd4b99, #704872);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.fa-globe:hover{
  		background: -webkit-linear-gradient(right, #dd4b99, #704872);
	 	-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.texto6, .fa-rocket{
		background: -webkit-linear-gradient(left, #704872, #116ca2);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.fa-rocket:hover{
		background: -webkit-linear-gradient(right, #704872, #116ca2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.texto7, .fa-mobile{
		background: -webkit-linear-gradient(left, #116ca2, #44cbc0);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.fa-mobile:hover{
		background: -webkit-linear-gradient(right, #116ca2, #44cbc0);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.texto8, .fa-thumbs-o-up{
		background: -webkit-linear-gradient(left, #44cbc0, #c9e555);
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.fa-thumbs-o-up:hover{
		background: -webkit-linear-gradient(right, #44cbc0, #c9e555);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.et_pb_column_3, .et_pb_column_4, .et_pb_column_6, .et_pb_column_7, .et_pb_column_8, .et_pb_column_9, .et_pb_column_2{
		.et_pb_text_inner{
			@media (min-width: 981px){
	  			&:before {
				    content: "|";
				    position: absolute;
				    left: -30px;
				    top: 50%;
				    font-size: 34px;
				    color: #C3C3C3;
				}
	  		}
	  	}
	}

	
}


.home-seccion3{
	order:3;
	

    @media (min-width: 981px){
    	clear: right;
	    display: flex;
	    align-items: stretch;
    }
    @media (max-width: 981px){
    	flex-wrap: wrap-reverse;
    }

	.left{
	    width: 50%;
	    padding-left: 20%;
	    padding-right: 5%;
	    padding: 86px 5% 86px 20%;
	    
	    @media (min-width: 981px){
	    	justify-content: center;
	    	display: flex;
	    	flex-direction: column;
	    }

	    @media (max-width:1550px) and (min-width:981px){
	    	padding: 86px 5% 86px 5% !important;
	    }

    	@media (max-width: 981px){
    		width: 100%;
		    text-align: center;
		    padding:50px 0px !important;
    	}

		.titulo{
			font-size:25px;
			color:#2C2C2C;
			font-weight: 600;
			font-family: $titulos;
		}
		.texto{
		    color: #4F4F4F;
		    font-size: 17px;
		    font-weight: lighter;
		    line-height: 1.6;
		    font-family: $textos;

		    @media (max-width: 981px){
		    	padding:0px 5% !important;
		    	text-align: center;
		    }

		}
		.boton{
		    font-size: 20px;
		    padding: 14px 0px;
		    font-weight: 600;
		    width: 133px;
		    background: -webkit-linear-gradient(left, #92C6D4, #243082);
	 		-webkit-background-clip: text;
	  		-webkit-text-fill-color: transparent;
	  		font-family: $titulos;



	  		&:after{
		    	font: normal normal normal 14px/1 FontAwesome !important;
	    	    content: "\f178";
	    	    margin-left:3px;
		    }
	  		
	  		&:hover{
	  			background: -webkit-linear-gradient(right, #92C6D4, #243082);
	 			-webkit-background-clip: text;
	  			-webkit-text-fill-color: transparent;
	  		}


		    @media (max-width: 676px){
		    	width: 95%;
		    }
		}
	}
	.right{
		width: 50%;
		text-align: center;
		background-size:cover;
		background-repeat: no-repeat;
		justify-content: center;
    	display: flex;

    	@media (max-width: 981px){
    		width: 100%;
			background-size:cover;
			background-repeat: no-repeat;
			justify-content: center;
	    	display: flex;
    	}

		img{
			width: 100%;
			display:inline-block;

		}
	}

}

.home-seccion4{
	order:4;
	

    @media (max-width: 981px){
    	flex-wrap: wrap-reverse;
    }

    @media (min-width: 981px){
    	clear: right;
	    display: flex;
	    align-items: stretch;
    }

	.right{
        width: 50%;
	    padding-left: 5%;
	    padding-right: 20%;
	    padding: 86px 20% 86px 5%;

	    @media (min-width: 981px){
	    	justify-content: center;
	    	display: flex;
	    	flex-direction: column;
	    }

	    @media (max-width:1550px) and (min-width:981px){
	    	padding: 86px 5% 86px 5% !important;
	    }

    	@media (max-width: 981px){
    		width: 100%;
		    text-align: center;
		    padding:50px 0px !important;
    	}

		.titulo{
			font-size:25px;
			color:#2C2C2C;
			font-weight: 600;
			font-family: $titulos;
		}
		.texto{
		    color: #4F4F4F;
		    font-size: 17px;
		    font-weight: lighter;
		    line-height: 1.6;
		    font-family: $textos;

		    @media (max-width: 981px){
		    	padding:0px 5% !important;
		    	text-align: center;
		    }

		}
		.boton{
		    font-size: 20px;
		    width: 133px;
		    padding: 14px 0px;
		    font-weight: 600;
		    font-family: $titulos;
		    background: -webkit-linear-gradient(left, #BFDEE6, #232E81);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		    -webkit-transition: width 2s; /* Safari */
    		transition: width 2s;

	  		&:after{
		    	font: normal normal normal 14px/1 FontAwesome !important;
	    	    content: "\f178";
	    	    margin-left:3px;
		    }
	  		
	  		&:hover{
	  			background: -webkit-linear-gradient(right, #BFDEE6, #232E81);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
	  		}

		    @media (max-width: 676px){
		    	width: 95%;
		    }
		}
	}
	.left{
		
		text-align: center;
		
    	@media (min-width: 981px){
    		background-size:cover;
			background-repeat: no-repeat;
			justify-content: center;
	    	display: flex;
	    	width: 50%;
    	}


		img{
			width: 100%;
			display:inline-block;

		}
	}

}

.home-seccion5{
	order:5;
	background: #F8F8F8;

	.titulo{
		font-family: $titulos;
		font-size:34.52px;
		color: $gris;
		text-align: center;
	    position: relative;

		&::after{
		    content: "\f2d1";
		    font-family: 'FontAwesome';
		    position: absolute;
		    left: 50%;
		    top: 40px;
		    margin-left: -13px !important;
		    color: #92C6D4;
		    font-size: 26px;
		}
	}

	.casosDeExito{

		.sliderCasos{

			.vermas-testimonios{
				font-family: $titulos;
				font-size:20px;
				font-weight: 600;
				background: -webkit-linear-gradient(left, #BFDEE6, #232E81);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			    position:absolute;
			    right: 20px;
			    bottom:0px;
			    z-index: 999;

			    &:hover{
			    	background: -webkit-linear-gradient(right, #BFDEE6, #232E81);
			    	-webkit-background-clip: text;
			    	-webkit-text-fill-color: transparent;
			    }

			    &:after{
			    	font: normal normal normal 14px/1 FontAwesome !important;
		    	    content: "\f178";
		    	    margin-left:3px;
			    }

			}

			.img-Comillas{
			    position: absolute;
			    z-index: 999;
			    left: 50%;
			    margin-left: -62px !important;
			    top: 100px;
			}

			.unslider-arrow{
				display:none !important;
			}

			.unslider{
					margin-top:50px;
					padding:10px 0px;

				@media (min-width: 981px){
					margin-top:40px !important;
					padding:30px 0px !important;
				}
			}

			.logo-testimonio{

				@media (min-width: 981px){
			    	width: 30%;
					float:left;
					text-align: center;
			    }

				img{
					display:inline-block;
					max-width: 140px !important;
					height: auto !important;
					

					@media (min-width: 981px){
						// margin-top:50px;
					}
				}
			}

			.texto-testimonio{
			    
			    

			    @media (min-width: 981px){
			    	width: 70%;
			    	float: left;
			    	text-align: left !important;
			    }

			    @media (max-width: 981px){
			    	padding-top: 50px;
			    }

			    .texto{
			    	font-size:18px;
			    	font-family: $textos;
			    	color:$gris;
			    	font-weight: lighter;
			    	line-height: 1.4;
			    	

			    	@media (min-width: 981px){
			    		padding-right: 20px;	
			    	}

			    	a{
			    		color: #92C6D4 !important;
						font-weight: bold;
						font-style: normal !important;
						margin-left:5px;
			    	}
			    }

				.persona-cargo{
					font-weight: lighter;
					font-style: italic;
					font-size:18px;
					color:#2C2C2C;
					margin-bottom:20px;
					line-height: 1.5;

					span{
						color: #92C6D4 !important;
						font-weight: bold;
						font-style: normal !important;
					}
				}
			}
		}
	}

}
.home-seccion6{
	order:6;
}

.home-seccion7{
	order:7;
}

#main-footer{ 
	background:#F9F9F9 !important;
	font-style: $titulos;

	@media (max-width: 767px){
		.footer-widget{
			text-align: center;
		
			.widget_text{
				display:inline-block;
				float:initial !important;

				h4{
					&:after{
					    left: 50%;
					    top: 20px;
					    margin-left: -7.5px;
					}
				}

				.texto{
					float:initial !important;
					display:inline-block;
				}
			}
		}
	}

	h4{
		color:$gris;
		font-size:25px;
		font-weight: 600;
		font-family: $titulos;
		position:relative;
		margin-bottom: 28px;

		&::after{
			content: "\f2d1";
		    font-family: 'FontAwesome';
		    position: absolute;
		    left: 0%;
		    top: 20px;
		    color: #92C6D4;
	        font-size: 15px;
		}
	}

	#text-2{
		.titulo{
			font-size:17px;
			font-family: $titulos;
			color:$gris;
			font-weight: bold;
		    line-height: 1.5;

		}
		.texto{
			color:$gris;
			font-size:17px;
			font-family: $textos;
			font-weight: 400;
			line-height: 1.5;
			@media (max-width: 1250px) and (min-width: 1060px){
				    font-size: 14px !important;
			}
			@media (max-width: 1060px) and (min-width: 981px){
					font-size:12px !important;
			}
		}
	}

	#text-3{
		.titulo{
			font-size:17px;
			font-family: $titulos;
			color:$gris;
			font-weight: bold;
		    margin: 20px 0px;
		    line-height: 1.5;
		}
		.texto{
			color:$gris;
			font-size:17px;
			font-family: $textos;
			font-weight: 400;
			// line-height: 1.5;
			float: left;
    		margin-right: 5px;
    		@media (max-width: 1250px) and (min-width: 1060px){
				    font-size: 14px !important;
			}
			@media (max-width: 1060px) and (min-width: 981px){
					font-size:12px !important;
			}
		}

		a{
			color:$gris;
			font-size:17px;
			font-family: $textos;
			font-weight: 400;
			line-height: 1;
			margin-right: 2px;
			display:inline-block;
			@media (max-width: 1250px) and (min-width: 1060px){
				    font-size: 14px !important;
			}
			@media (max-width: 1060px) and (min-width: 981px){
					font-size:12px !important;
			}
		}
	}

	#text-4{
		@media (min-width: 981px){
			margin-top: 63px;
		}

		.titulo{
			font-size:17px;
			font-family: $titulos;
			color:$gris;
			font-weight: bold;
			line-height: 1.5;

		}
		.texto{
			color:$gris;
			font-size:17px;
			font-family: $textos;
			font-weight: 400;
			line-height: 1.5;
			@media (max-width: 1250px) and (min-width: 1060px){
				    font-size: 14px !important;
			}
			@media (max-width: 1060px) and (min-width: 981px){
					font-size:12px !important;
			}
		}
	}

	.fa{
		font-size:17px;
		color:$gris;
	}

	.fa-phone, .fa-envelope-o{
		float:left;
		margin-right: 5px;
	}

	a{
		color:$gris !important;
	}

	.espacio{
		margin:5px 0px;
	}

	.marginTop-fot{
		margin-top:20px;
	}
}

.soluciones{



	@media (max-width: 981px){
		.et_pb_button_module_wrapper{
			text-align: center !important;
		}

		.et_pb_image_wrap {
	    	width: 100% !important;

	    	img{
	    		width: 100% !important;
	    	}
		}

		.et_pb_row{
			padding:0px !important;
		}
	}

	.margin-top{
		@media (min-width: 981px){
			margin-top:50px;
		}
	}

	.imagen-app{

		@media(max-width: 981px){
			.et_pb_image_wrap{
				width: 100%;
			}
			img{
				width: 100%;
			}
		}

		@media (min-width: 981px){
			img{
	    		min-height: 600.55px;
    		}
    		
		}
		
	}
	.titulo{
		font-family: $titulos;
		font-size:34.52px;
		text-align: center;
		color:$gris;
		position:relative;
		margin-bottom:40px;

		&::after{
			content: "\f2d1";
		    font-family: 'FontAwesome';
		    position: absolute;
		    left: 50%;
		    top: 30px;
		    margin-left: -14px !important;
		    color: #92C6D4;
		    font-size: 28px;
		}

		@media (max-width: 981px){
			font-size:25px;
			margin-bottom:30px;

			&::after{
		    	display:none;
			}
		}

		
	}
	#titulo-vozip{
		.titulo{
			@media (max-width: 1120px){
			    font-size: 27.52px !important;	

			}
			@media (max-width: 900px) and (min-width: 520px){
				 &:after{
			    	    top: 50px !important;
			   	 }
			}
			@media (max-width: 520px){

			}
		}
	}
	.subtitulo{
		font-size:25px;
		color:$gris;
		text-align: center;
		font-family: $titulos;
		font-weight: 400;

		@media (max-width: 981px){
			font-size:20px !important;
		}
	}
	.subsubtitulo{
		font-weight: bold;
		color:$gris;
		font-family: $textos;
		font-size:17px;

		@media (min-width: 981px){
			padding-top: 8%;
		}
	}
	.titulo-cuadro{
		font-size:25px;
		font-weight: 600;
		color:$gris;
		font-family: $titulos;
		position:relative;
	    margin-bottom: 5px;

		&::before{
			content: "\f2d1";
		    font-family: 'FontAwesome';
		    position: absolute;
		    color: #92C6D4;
	        top: -40px;
		}

		@media (max-width: 550px){
		    font-size: 19px !important; 
		}

	}
	.titulo-cuadro2{
		font-size:25px;
		font-weight: 600;
		color:$gris;
		font-family: $titulos;
		position:relative;
	    margin-bottom: 5px;

	    @media (max-width: 981px) and (min-width: 460px){
    	    margin-bottom: 30px;
	    }

	    @media (max-width: 460px){
	    	margin-bottom:50px;

	    	&::after{
	            top: 70px !important;
			}
	    }

		&::after{
			content: "\f2d1";
		    font-family: 'FontAwesome';
		    position: absolute;
		    color: #92C6D4;
            top: 45px;
    		left: 0px;
		}
	}
	.titulo-zona{
			font-size:17px;
			font-family: $titulos;
			color:$gris;
			font-weight: bold;
	}
	.texto{
		font-size:17px;
		color:$gris;
		font-weight: lighter;
		line-height: 1.5;
		padding-bottom: 1em;
	}
	.texto2{
		font-size:17px;
		color:$gris;
		font-weight: lighter;
		line-height: 1.5;
		padding-bottom: 1em;
		padding-left:40px;
	}
	.cuadro-gris{
		background: #F8F8F8;
	    padding: 12% 8% 8% 8%;
	    min-height: 375px;

	    @media (min-width: 131px){
	    	min-height: 375px;
	    }
	    @media (max-width: 1312px) and (min-width:1150px){
	    	min-height: 425px;
	    }
	    @media (max-width: 1150px) and (min-width:981px){
	    	min-height: 475px;
	    }
	    @media (max-width: 550px){
	    	padding: 20% 8% 10% 8% !important;
	    }
	}
	.contacta{
		text-align: right;
		font-size:20px;
		color:$gris;
		font-family: $titulos;
		text-transform: uppercase;

		@media (max-width: 981px){
			text-align: center !important;
		}
	}

	.et_pb_button{
		background: #93C7D5;
		color:white !important;
		font-size:22px;
		font-family: $titulos;
		border:0px !important;

		&:hover{
			color:#93C7D5 !important;
		}
	}

	.subtitulo-cuadro{
		font-size:20px;
		font-weight: 600;
		font-family: $titulos;
		color: $gris;
		margin-bottom:5px;
		
		@media (min-width: 981px){
			margin-left:40px;
		}
	}
	.subtitulo-certificaciones{
		font-size:20px;
		font-weight: 600;
		font-family: $titulos;
		color: $gris;
		margin-bottom:5px;
	    margin-top: 50px;
	}

	.fa{
	    font-size: 35px;
	    color: #92C6D4;
	    float: left;

	}
	.fa-check{
	    display: inline-block;
	    font: normal normal normal 17px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    color:$gris;
	    margin-right: 10px;

	 }
	.fa-stop{
		font-size:20px !important;
	}

	.funcionalidades-principales{

		@media (max-width: 980px){
			padding:0px !important;

			
			.et_pb_column {
			    margin-bottom: 0px !important;
			}

			.et_pb_row{
				padding-bottom:0px !important;
			}

			.fa-check{
			    margin: 20px 0px !important;
		        font-size: 16px !important;

			    &:before, span{
			    	// display:block !important;
			    	margin:0px !important;
			    }
			}

			.tooltiptext{
				margin-left:0px !important;
				width: 100% !important;
			}	
		}
		.et_pb_column_14, .et_pb_column_15{
			z-index: 999;
		}
		.fa-check{
			color:$gris;
			font-family: $titulos;
			font-size:20px;
			font-weight: 400;
			margin-bottom:5px;
			width: 100% !important;
			margin-right: 5px !important;

			&:before{
			    display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    color:#92C6D4;
			    font-size:20px;
			    margin-right: 10px !important;
			}

			@media (max-width: 981px){
				margin:10px 0px;
				text-align: center !important;

				.fa-info-circle{
					display:block !important;
					width: 100% !important;
					margin-top:8px !important;
				}
			}

			@media (max-width: 981px) and (min-width: 800px){
				width: 50% !important;
				float:left !important;
				margin:10px 0px !important;
				min-height: 50px;
			}
		}

		.fa-info-circle{
					position: relative;
			&:before{
				font-size:20px;
				color:#2C2C2C;
				display: inline-block;
	    		font: normal normal normal 20px/1 FontAwesome;    		
    		}
    		&:hover{
				.tooltiptext{
    				visibility: visible;
					opacity: 1;
				}
    		}

		.tooltiptext {
		    visibility: hidden;
		    width: 420px;
		    height: auto;
		    background-color: #555;
		    color: #fff;
		    text-align: center;
		    border-radius: 6px;
		    padding: 15px 15px;
		    position: absolute;
		    z-index: 999;
		    bottom: 125%;
		    left: 0;
		    margin-left: -202px;
		    opacity: 0;
		    transition: opacity 0.3s;
		    font-size:14px;
		    line-height: 1.5;

			    &:after{
				    content: "";
				    position: absolute;
				    top: 100%;
				    left: 50%;
				    margin-left: -5px;
				    border-width: 5px;
				    border-style: solid;
				    border-color: #555 transparent transparent transparent;
			    }
			}
		}
	}
	.funcionalidades-principales2{
		.fa-check{
			color:$gris;
			font-family: $textos;
			font-size:17px;
		    font-weight: lighter;
			margin-bottom:10px;
			line-height: 1.4;
		    width: 100%;

			&:before{
			    display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    color:$gris;
			    font-size:20px;
			    margin-right: 10px;
			}
		}
	}
	.numero-prestaciones{
	   
	    font-size: 35px;
	    font-weight: bold;
	    font-family: 'Raleway', sans-serif;
	    color: #92C6D4;
	    

	    @media (min-width: 981px){
	    	 position: absolute;
	    	 top: -6px;
	    }
	}
}

.container{
	&:before{
		content: '';
		display:none !important;
	}
}

#acordeon{
	a{
		display:inline-block;
		font-size:20px;
		font-family: $titulos;
		color:#2C2C2C;
	    width: 100% !important;

		span{
			font-size:20px;
			color:#92C6D4;
			font-weight: bold;
		    margin-right: 10px;
		}
	}
		.active{
	    	&:after{
	    		content: '-';
			    position: absolute;
			    right: 0;
	    	}
	    }
	    .no-active{
	    	&:after{
	    		content: '+';
			    position: absolute;
			    right: 0;
	    	}
    	}
	.texto-acordeon{
		display:none;
		padding: 10px 13px 10px 25px;
		font-size:17px;
		font-weight: lighter;
		font-family: $textos;
		color:#4F4F4F;
	}
}

#prestaciones{
	position:relative;
    margin-bottom: 10px;

    @media (min-width: 981px){
    	display: inline-block;
	    width: 80%;
	    margin-left: 10%;
    }
}


.col-lg-6 {
	@media (min-width: 1200px){
		width: 50%;
		float:left;
	}
}

.col-md-6{
	@media (min-width: 981px){
		width: 50%;
		float:left;
	}
}

.conectividad-seccionflex2{

	

    @media (min-width: 981px){
    	clear: right;
	    display: flex;
	    align-items: stretch;

	    .right{
	    	justify-content: center;
	    	display: flex;
	    	flex-direction: column;
	    	width: 50%;
	    }
    }
    @media (max-width: 981px){
    	.titulo-cuadro{
    		&:before{
    			display:none;
    		}
    	}
    }

	.right{
        padding-left: 5%;
	    padding-right: 20%;
	    padding: 86px 20% 86px 5%;
	    

	    @media (max-width:1550px) and (min-width:981px){
	    	padding: 86px 5% 86px 5% !important;
	    }

    	@media (max-width: 981px){
    		width: 100%;
		    text-align: center;
		    padding:50px 0px !important;
    	}

		.titulo{
			font-size:25px;
			color:#2C2C2C;
			font-weight: 600;
			font-family: $titulos;
		}
		.texto{
		    color: #4F4F4F;
		    font-size: 17px;
		    font-weight: lighter;
		    line-height: 1.6;
		    font-family: $textos;

		    @media (max-width: 981px){
		    	padding:0px 5% !important;
		    	text-align: center;
		    }

		}
		.boton{
		    font-size: 20px;
		    width: 336px;
		    display: inline-block;
		    padding: 14px 0px;

		    @media (max-width: 676px){
		    	width: 95%;
		    }
		}
	}
	.left{
		
		text-align: center;
		background-size:cover;
		background-repeat: no-repeat;

    	@media (max-width: 981px){
    		width: 100%;
			background-size:cover;
			background-repeat: no-repeat;
    	}

    	@media (min-width: 981px){
    		justify-content: center;
    		display: flex;
    		width: 50%;
    	}

		img{
			width: 100%;
			display:inline-block;

			@media (max-width: 981px){
				padding:200px 0px;
			}
		}
	}

}

.conectividad-seccionflex{
	clear: right;
    
    @media (max-width: 981px){
    	.titulo-cuadro{
    		&:before{
    			display:none;
    		}
    	}
    }

    @media (min-width: 981px){
    	display: flex;
    	align-items: stretch;

    	.left{
    		width: 50%;
    		justify-content: center;
		    display: flex;
		    flex-direction: column;
    	}

    	.right{
    		justify-content: center;
    		display: flex;
    		width: 50%;
    	}
    }

	.left{
	    padding-left: 20%;
	    padding-right: 5%;
	    padding: 86px 5% 86px 20%;
	    

	    @media (max-width:1550px) and (min-width:981px){
	    	padding: 86px 5% 86px 5% !important;
	    }

    	@media (max-width: 981px){
    		width: 100%;
		    text-align: center;
		    padding:50px 0px !important;
    	}

		.titulo{
			font-size:25px;
			color:#2C2C2C;
			font-weight: 600;
			font-family: $titulos;
		}
		.texto{
		    color: #4F4F4F;
		    font-size: 17px;
		    font-weight: lighter;
		    line-height: 1.6;
		    font-family: $textos;

		    @media (max-width: 981px){
		    	padding:0px 5% !important;
		    	text-align: center;
		    }

		}
		.boton{
		    font-size: 20px;
		    width: 336px;
		    display: inline-block;
		    padding: 14px 0px;

		    @media (max-width: 676px){
		    	width: 95%;
		    }
		}
	}
	.right{
		text-align: center;
		background-size:cover;
		background-repeat: no-repeat;
		


		img{
			width: 100%;
			display:inline-block;

			@media (max-width: 981px){
				padding:200px 0px;
			}
		}
	}

}

#newsletter-footer{
	padding: 50px 0px;
	background:#F1F1F1;

	@media (max-width: 981px){
		padding: 50px 0px 90px !important;
	}

	input[type=email]{
	    
		padding: 14px 10px;
		border:0px;
		width: 100%;
		border-radius:3px;
		@media (min-width: 650px){
			width: 60% !important;
		}
        
    	&::-webkit-input-placeholder{
    		color:$gris;
    		font-size:17px;
    		font-family: $textos;
    	}

	  	&:-moz-placeholder{
	  		color:$gris;
    		font-size:17px;
    		font-family: $textos;
	  	}

	  	&::-moz-placeholder{
	  		color:$gris;
    		font-size:17px;
    		font-family: $textos;
	  	}

	  	&:-ms-input-placeholder{
	  		color:$gris;
    		font-size:17px;
    		font-family: $textos;
	  	}

	}
	input[type=submit]{
        
	    
	    padding: 11.5px 10px;
	    background: #92C6D4;
	    color: white;
	    font-size: 17px;
	    font-weight: 600;
	    font-family: "Montserrat", sans-serif;
	    border: 1px solid #92C6D4;
	    cursor: pointer;
	    border-radius: 3px;
	    width: 100%;

		@media (min-width: 650px){
			width: 35%;
			margin-left: 2%;
		}

		@media (max-width: 650px){
			margin-top:5px;
		}

	    &:hover{
	    	background:white;
	    	color: #92C6D4;
	    	border:1px solid #82C6D4;
	    }
	}

	.chekbox-div{
		position:absolute;
		width: 100%;
		margin-top:10px;

		@media (max-width: 650px){
			margin-top: 60px !important;
		}

		input{
			float:left
		}

		p{
			padding-top:2px;
			color:#2C2C2C;
			font-size:15px;
			font-family: $textos;
			a{
				color:#2C2C2C;
				text-decoration: underline;
			}
		}

	}
}

.bloque-contacto{


	.recaptcha-contacto {
	    
	    @media (min-width: 789px){
	    	float: left;
	    }
	}
	.enviar-contacto {
    	margin-top: 10px;
	}

	.acepto-politica {
	    width: 100%;
	    
	    .wpcf7-list-item{
	    	@media (max-width: 981px){
	    		margin:0px !important;
	    	}
	    }

	    @media (min-width: 981px){
	    	text-align: right;
	    }
	    
	    .wpcf7-form-control-wrap {
    		position: relative;
    		display: inline-block;
		}
		.acept-newsletter {
    		display: inline-block;
    		font-size:17px;
    		color:#8E8E8E;
    		font-family: $textos;
    		font-weight: 400;

    		a{
    			color:#8E8E8E;
    		}

    		@media (max-width: 981px){
    			font-size:13px !important;
    		}
		}
	}
	.wpcf7-form-control-wrap {
    	position: relative;
	}

	input[type=tel]{
		border-top:0px solid #979797;
		border-right:0px solid #979797;
		border-left:0px solid #979797;
		border-bottom:1px solid #979797;
		padding-bottom: 10px;

		@media (min-width: 981px){
			width: 31.3%;
		}

		@media (max-width: 981px){
			width: 100%;
			margin:10px 0px;
		}
	}
	input[type=text]{
		border-top:0px solid #979797;
		border-right:0px solid #979797;
		border-left:0px solid #979797;
		border-bottom:1px solid #979797;
		padding-bottom: 10px;
		@media (min-width: 981px){
			width: 31.3%;
			margin-right: 3%;
		}
		@media (max-width: 981px){
			width: 100%;
			margin:10px 0px;
		}
	}
	input[type=email]{
		border-top:0px solid #979797;
		border-right:0px solid #979797;
		border-left:0px solid #979797;
		border-bottom:1px solid #979797;
		padding-bottom: 10px;
		@media (min-width: 981px){
			width: 31.3%;
			margin-right: 3%;
		}
		@media (max-width: 981px){
			width: 100%;
			margin:10px 0px;
		}
	}

	textarea{
	    width: 100%;
	    margin-top: 30px;
	    border: 1px solid #979797;
	    /* border: 0px; */
	    margin-bottom: 30px;

	    &::-webkit-input-placeholder{
    		color:#979797;
    		font-size:17px;
    		font-family: $textos;
    	}

	  	&:-moz-placeholder{
	  		color:#979797;
    		font-size:17px;
    		font-family: $textos;
	  	}

	  	&::-moz-placeholder{
	  		color:#979797;
    		font-size:17px;
    		font-family: $textos;
	  	}

	  	&:-ms-input-placeholder{
	  		color:#979797;
    		font-size:17px;
    		font-family: $textos;
	  	}
	}

	input{
		&::-webkit-input-placeholder{
    		color:#8D8D8D;
    		font-size:17px;
    		font-family: $textos;
    	}

	  	&:-moz-placeholder{
	  		color:#8D8D8D;
    		font-size:17px;
    		font-family: $textos;
	  	}

	  	&::-moz-placeholder{
	  		color:#8D8D8D;
    		font-size:17px;
    		font-family: $textos;
	  	}

	  	&:-ms-input-placeholder{
	  		color:#8D8D8D;
    		font-size:17px;
    		font-family: $textos;
	  	}
	}
	.wpcf7-submit {
	    background: #93C7D5;
	    padding: 16px 0px;
	    font-size: 17px;
	    font-weight: bold;
	    text-transform: uppercase;
	    color: white;
	    border: 1px solid #93C7D5 !important;
	    cursor: pointer;

	    &:hover {
		    background: white;
		    color: #93C7D5;
		    border: 1px solid #93C7D5 !important;
		}

		@media (min-width: 981px){
			 width: 321px;
			 float: right;
		}
		@media (max-width: 981px){
			width: 100%;
		}
	}
}


#contacto-zonas{
	.titulo{
		font-size:20px;
		color:$gris;
		font-family: $textos;
		font-weight: bold;
	}
	.texto{
		padding-bottom:0.3em !important;
	}

	.fa{
		display:block !important;
		color:#444444;
		font-size:20px;
		margin-right: 10px;
	}

	.fa-map-marker{
		float:initial !important;
		margin-bottom:5px;
	}

}

.feature-map {
  height: 470px;
  iframe {
	height:470px;
	width:100%;
	border:0;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
	}
}


.nav {
	li {
			.sub-menu {
		    	visibility: hidden;
		    	z-index: 9999;
		    	border-top: 3px solid #92C6D4;

		    	@media (min-width: 981px){
		    		width: 310px !important;
		    	}
		    	.menu-item{
		    		@media (min-width: 981px){
		    			        width: 90% !important;
							    margin-left: 5% !important;
							    padding: 0px !important;
		    		}
			    	a{
			    		width: 100% !important;
			    	}
		    	}
			}

			li{
				width: 90%;
				margin-left:5%;
			}
	}
}

.datos-empresa-header{
	@media (max-width: 981px){
		display:none !important;
	}

	position:absolute;
    right: 5%;
    padding: 3px 15px;
    -webkit-box-shadow: 0px 0px 15px 1px #ccc;
  	-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
	  // box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+*/
	p{
		display:inline-block;
		margin:0px 2px;
		font-family: $textos;
		font-size:15px;
		font-weight: lighter;
		color:$gris;
	}
	span{
		margin:0px 2px;
	}
}

.texto-legal{
	h2{
		font-font-family: $titulos;
	}
	p, li{
		font-family: $textos;
		font-size:18px;
		padding-bottom:1em;
		font-weight: lighter;
	}
}

    
#main-header .container{
	width: 100% !important;
	max-width: initial !important;
    padding: 0px 5%;
}


.imagen-responsive{
	@media (min-width: 981px){
		display:none !important;
	}
}

 .imagen-noresponsive{
		@media (max-width: 981px){
			display:none !important;
		}
}

.mobile_menu_bar{
	&:before{
		color: #7EC5D5 !important;
	}
}

#telefonia-movil{
	@media (max-width: 981px){
		.et_pb_column {
    		 margin-bottom: 0px !important; 
		}
		.et_pb_text{
			margin:10px 0px;
		}
	}
}

#servicios-contacto{
	@media (min-width: 981px){
	    margin-top: 5.82%;
	}
	@media (max-width: 981px){
		text-align: center;

	}


}

#contacto-zonas{
	@media (max-width: 981px){
		text-align: center;

		.fa{
			float:initial !important;
			display:inline-block;
		}
	}
}

#copytext{
	p, span, a{
		line-height: 1.5;
		font-family: $textos;
	}

	h1, h2, h3, h4, h5 {
		margin-top:30px;
		line-height: 1.5;
		font-family: $titulos;
	}
}


#casosDeExito .sliderCasos.vertical-slider-wrapper ul li {
	@media (max-width: 981px){
    	padding: 40px 40px 70px 40px !important;
    }
}

.bx-wrapper{
	max-width: initial !important;
	width: 100% !important;
	margin:0px !important;
}

#valor-añadido{
	.subtitulo-cuadro{
		margin-left: 40px !important;
	}
}

#valor-añadido2{
	@media (max-width: 981px){
		p{
			display:inline-block;
		}
		.subtitulo-cuadro{
			margin-left: 15px !important;
		}
	}
}

@media(min-width: 981px){
	.margen-contactar{
		margin-top: 3.82%;
	}
    .page-id-78 .et_pb_row_2{
    	margin-top:1.82%;
    }
}


@media (max-width: 479px){
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_0 {
		width: 100% !important;
	}
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_1 {
		width: 47.25%!important;
		margin-right: 5.5%;
	}
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_2 {
		width: 47.25%!important;
	}
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_3{
		width: 47.25%!important;
		margin-right: 5.5%;
	}
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_4 {
		width: 47.25%!important;
	}
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_5 {
		width: 47.25%!important;
		margin-right: 5.5%;
	}
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_6 {
		width: 47.25%!important;
	}
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_7{
		width: 47.25%!important;
		margin-right: 5.5%;
	}
	.home-seccion2 .et_pb_row .et_pb_column.et_pb_column_8 {
		width: 47.25%!important;
	}

	.home-seccion2 .et_pb_row .et_pb_column .texto8{
		margin:0px !important;
	}
}

#hotspot-numeros {
	background:#F8F8F8;

	span{
		float:left;
		// margin-right: 10px;
		font-weight: bold;
		font-size:35px;
		color:#92C6D4;
	}
	.texto{
	    padding-left: 30px;
	}

	.titulo-cuadro{
		margin-bottom:30px;
	}

	#right{
		@media (min-width: 981px){
			padding-left:5%;
		}
	}
	#left{
		@media (min-width: 981px){
			padding-right: 5%;
		}
	}

	.container{
		div{
			margin:10px 0px;
		}
	}
}

.certificados img{
	max-width: 200px;
}

.mergeHome{
	background: -webkit-linear-gradient(right, #116ca2, #704872);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instalacionesTexto {
	background: -webkit-linear-gradient(right, #116ca2, #704872);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: right;
}

.instaTexto2 {
	font-weight: bold;
	text-align: right;
}

/*ACCESEO DICIEMBRE 2019*/
.et-fixed-header .logoCertificado img#logo {
    height: 100px;
}

.logoCertificado img#logo {
	@media (max-width: 1468px) {
		margin-left: 20px !important;
		height: 90px;
	}	
}

.logoCertificado img#logo {
	@media (max-width: 1028px) {
		margin-left: 5px !important;
		height: 73px;
	}
}