@charset "UTF-8";
/*
Theme Name: CT Bell
Description: CT Bell - Divi Child Theme
Author:  acceseo
Author URI:  http://www.acceseo.com
Template: Divi
Version:  1.0
*/
@import url("../Divi/style.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
p {
  padding-bottom: 0px;
  line-height: 1;
}

#page-container {
  overflow: hidden;
}

.entry-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1400px) and (min-width: 1240px) {
  #top-menu li {
    padding-right: 14px !important;
  }
}
@media (max-width: 1240px) and (min-width: 981px) {
  #top-menu li {
    padding-right: 7px !important;
  }
}
@media (max-width: 1400px) and (min-width: 1050px) {
  #top-menu li a {
    font-size: 14px !important;
  }
}
@media (max-width: 1050px) and (min-width: 981px) {
  #top-menu li a {
    font-size: 13px !important;
  }
}
#top-menu .current-menu-ancestor a {
  color: #646464 !important;
  font-weight: bold !important;
}

@media (max-width: 1200px) and (min-width: 981px) {
  #et-top-navigation {
    padding-left: 0px !important;
  }
}
#et-top-navigation .sub-menu .menu-item a::before {
  content: "" !important;
}
#et-top-navigation .menu-item a {
  font-size: 16px;
  font-weight: 400;
  color: #646464;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
#et-top-navigation .current-menu-item a {
  font-weight: 600 !important;
  color: #646464 !important;
}
#et-top-navigation .current-menu-item a::before {
  content: "\f2d1";
  font-family: 'FontAwesome';
  position: absolute;
  left: 50%;
  top: 16px;
  margin-left: -8px !important;
  color: #92C6D4;
}

@media (max-width: 981px) {
  .logo_container {
    max-width: 80% !important;
  }
}
.logo_container #logo {
  max-width: 265px;
  max-height: 75px !important;
}
@media (max-width: 1240px) {
  .logo_container #logo {
    max-width: 150px;
  }
}

.home-seccion1 {
  background-position: bottom !important;
  height: 77vh;
  order: 1;
  display: flex;
  align-items: center;
}
@media all and (max-width: 981px) and (min-width: 650px) {
  .home-seccion1 {
    text-align: center;
  }
  .home-seccion1 .titulo1 {
    font-size: 30px !important;
  }
  .home-seccion1 .titulo2 {
    font-size: 45px !important;
  }
}
@media all and (max-width: 650px) {
  .home-seccion1 {
    text-align: center;
  }
  .home-seccion1 .titulo1 {
    font-size: 20px !important;
  }
  .home-seccion1 .titulo2 {
    font-size: 30px !important;
  }
}
.home-seccion1 .max-width {
  max-width: 1170px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 981px) {
  .home-seccion1 .max-width {
    margin-left: 20%;
  }
}
.home-seccion1 .et_pb_text_inner {
  padding-top: 200px;
}
.home-seccion1 .titulo1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
}
.home-seccion1 .titulo2 {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}
.home-seccion1 .background {
  max-width: 245px;
  background: white;
  margin-top: 50px;
  border-radius: 3px;
}
.home-seccion1 .background:hover {
  background: -webkit-linear-gradient(left, #93c7d5, #222d80);
}
.home-seccion1 .background:hover a {
  color: white !important;
  -webkit-text-fill-color: initial !important;
}
@media all and (max-width: 981px) {
  .home-seccion1 .background {
    max-width: initial !important;
    width: 80%;
    margin-left: 10%;
  }
}
.home-seccion1 .boton {
  width: 100%;
  text-align: center;
  display: inline-block;
  background: -webkit-linear-gradient(left, #93c7d5, #222d80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22.68px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 17.5px 0px;
}
.home-seccion1 .et_pb_button_module_wrapper {
  margin-top: 52px;
}

.home-seccion2 {
  order: 2;
}
@media (max-width: 981px) {
  .home-seccion2 .et_pb_row {
    padding: 0px !important;
  }
}
@media (max-width: 981px) {
  .home-seccion2 .et_pb_row_1 {
    margin-bottom: 30px !important;
  }
}
@media (max-width: 480px) {
  .home-seccion2 .et_pb_column_1, .home-seccion2 .et_pb_column_2, .home-seccion2 .et_pb_column_3, .home-seccion2 .et_pb_column_4 {
    width: 47.25% !important;
    margin-right: 5.5%;
  }
}
@media (max-width: 480px) {
  .home-seccion2 .et_pb_row_1-2_1-4_1-4 > .et_pb_column.et_pb_column_1_4:nth-child(odd), .home-seccion2 .et_pb_row_1-4_1-4 > .et_pb_column.et_pb_column_1_4:nth-child(even), .home-seccion2 .et_pb_row_1-4_1-4_1-2 > .et_pb_column.et_pb_column_1_4:nth-child(even), .home-seccion2 .et_pb_row_4col > .et_pb_column.et_pb_column_1_4:nth-child(even) {
    margin-right: 0 !important;
  }
}
.home-seccion2 .titulo {
  font-size: 34.52px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #434343;
  margin-bottom: 50px;
}
@media (max-width: 1250px) and (min-width: 510px) {
  .home-seccion2 .titulo {
    font-size: 25px;
  }
}
@media (max-width: 510px) {
  .home-seccion2 .titulo {
    font-size: 18px;
  }
}
.home-seccion2 .titulo::after {
  content: "\f2d1";
  font-family: 'FontAwesome';
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -13px !important;
  color: #92C6D4;
  font-size: 26px;
}
.home-seccion2 .texto1, .home-seccion2 .texto2, .home-seccion2 .texto3, .home-seccion2 .texto4, .home-seccion2 .texto5, .home-seccion2 .texto6, .home-seccion2 .texto7, .home-seccion2 .texto8 {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: lighter;
  margin-top: 10px;
}
@media (max-width: 1250px) and (min-width: 480px) {
  .home-seccion2 .texto1, .home-seccion2 .texto2, .home-seccion2 .texto3, .home-seccion2 .texto4, .home-seccion2 .texto5, .home-seccion2 .texto6, .home-seccion2 .texto7, .home-seccion2 .texto8 {
    font-size: 19px !important;
  }
}
@media (max-width: 480px) {
  .home-seccion2 .texto1, .home-seccion2 .texto2, .home-seccion2 .texto3, .home-seccion2 .texto4, .home-seccion2 .texto5, .home-seccion2 .texto6, .home-seccion2 .texto7, .home-seccion2 .texto8 {
    font-size: 13px !important;
  }
}
.home-seccion2 .et_pb_text_inner {
  text-align: center;
}
.home-seccion2 .fa {
  font-size: 50px;
  margin-bottom: 10px;
}
.home-seccion2 .texto1, .home-seccion2 .fa-wifi {
  background: -webkit-linear-gradient(left, #c8e555, #f0b223);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s;
}
.home-seccion2 .fa-wifi:hover {
  background: -webkit-linear-gradient(right, #c8e555, #f0b223);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 2s;
  /* Safari */
  transition: 2s;
}
.home-seccion2 .texto2, .home-seccion2 .fa-microphone {
  background: -webkit-linear-gradient(left, #f0b223, #ec6745);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .fa-microphone:hover {
  background: -webkit-linear-gradient(right, #f0b223, #ec6745);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .texto3, .home-seccion2 .fa-tablet {
  background: -webkit-linear-gradient(left, #ec6745, #c44141);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .fa-tablet:hover {
  background: -webkit-linear-gradient(right, #ec6745, #c44141);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .texto4, .home-seccion2 .fa-phone {
  background: -webkit-linear-gradient(left, #c44141, #dd4b99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .fa-phone:hover {
  background: -webkit-linear-gradient(right, #c44141, #dd4b99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .texto5, .home-seccion2 .fa-globe {
  background: -webkit-linear-gradient(left, #dd4b99, #704872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .fa-globe:hover {
  background: -webkit-linear-gradient(right, #dd4b99, #704872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .texto6, .home-seccion2 .fa-rocket {
  background: -webkit-linear-gradient(left, #704872, #116ca2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .fa-rocket:hover {
  background: -webkit-linear-gradient(right, #704872, #116ca2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .texto7, .home-seccion2 .fa-mobile {
  background: -webkit-linear-gradient(left, #116ca2, #44cbc0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .fa-mobile:hover {
  background: -webkit-linear-gradient(right, #116ca2, #44cbc0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .texto8, .home-seccion2 .fa-thumbs-o-up {
  background: -webkit-linear-gradient(left, #44cbc0, #c9e555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion2 .fa-thumbs-o-up:hover {
  background: -webkit-linear-gradient(right, #44cbc0, #c9e555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 981px) {
  .home-seccion2 .et_pb_column_3 .et_pb_text_inner:before, .home-seccion2 .et_pb_column_4 .et_pb_text_inner:before, .home-seccion2 .et_pb_column_6 .et_pb_text_inner:before, .home-seccion2 .et_pb_column_7 .et_pb_text_inner:before, .home-seccion2 .et_pb_column_8 .et_pb_text_inner:before, .home-seccion2 .et_pb_column_9 .et_pb_text_inner:before, .home-seccion2 .et_pb_column_2 .et_pb_text_inner:before {
    content: "|";
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 34px;
    color: #C3C3C3;
  }
}

.home-seccion3 {
  order: 3;
}
@media (min-width: 981px) {
  .home-seccion3 {
    clear: right;
    display: flex;
    align-items: stretch;
  }
}
@media (max-width: 981px) {
  .home-seccion3 {
    flex-wrap: wrap-reverse;
  }
}
.home-seccion3 .left {
  width: 50%;
  padding-left: 20%;
  padding-right: 5%;
  padding: 86px 5% 86px 20%;
}
@media (min-width: 981px) {
  .home-seccion3 .left {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1550px) and (min-width: 981px) {
  .home-seccion3 .left {
    padding: 86px 5% 86px 5% !important;
  }
}
@media (max-width: 981px) {
  .home-seccion3 .left {
    width: 100%;
    text-align: center;
    padding: 50px 0px !important;
  }
}
.home-seccion3 .left .titulo {
  font-size: 25px;
  color: #2C2C2C;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.home-seccion3 .left .texto {
  color: #4F4F4F;
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 981px) {
  .home-seccion3 .left .texto {
    padding: 0px 5% !important;
    text-align: center;
  }
}
.home-seccion3 .left .boton {
  font-size: 20px;
  padding: 14px 0px;
  font-weight: 600;
  width: 133px;
  background: -webkit-linear-gradient(left, #92C6D4, #243082);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
}
.home-seccion3 .left .boton:after {
  font: normal normal normal 14px/1 FontAwesome !important;
  content: "\f178";
  margin-left: 3px;
}
.home-seccion3 .left .boton:hover {
  background: -webkit-linear-gradient(right, #92C6D4, #243082);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 676px) {
  .home-seccion3 .left .boton {
    width: 95%;
  }
}
.home-seccion3 .right {
  width: 50%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
}
@media (max-width: 981px) {
  .home-seccion3 .right {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
  }
}
.home-seccion3 .right img {
  width: 100%;
  display: inline-block;
}

.home-seccion4 {
  order: 4;
}
@media (max-width: 981px) {
  .home-seccion4 {
    flex-wrap: wrap-reverse;
  }
}
@media (min-width: 981px) {
  .home-seccion4 {
    clear: right;
    display: flex;
    align-items: stretch;
  }
}
.home-seccion4 .right {
  width: 50%;
  padding-left: 5%;
  padding-right: 20%;
  padding: 86px 20% 86px 5%;
}
@media (min-width: 981px) {
  .home-seccion4 .right {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1550px) and (min-width: 981px) {
  .home-seccion4 .right {
    padding: 86px 5% 86px 5% !important;
  }
}
@media (max-width: 981px) {
  .home-seccion4 .right {
    width: 100%;
    text-align: center;
    padding: 50px 0px !important;
  }
}
.home-seccion4 .right .titulo {
  font-size: 25px;
  color: #2C2C2C;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.home-seccion4 .right .texto {
  color: #4F4F4F;
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 981px) {
  .home-seccion4 .right .texto {
    padding: 0px 5% !important;
    text-align: center;
  }
}
.home-seccion4 .right .boton {
  font-size: 20px;
  width: 133px;
  padding: 14px 0px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(left, #BFDEE6, #232E81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s;
}
.home-seccion4 .right .boton:after {
  font: normal normal normal 14px/1 FontAwesome !important;
  content: "\f178";
  margin-left: 3px;
}
.home-seccion4 .right .boton:hover {
  background: -webkit-linear-gradient(right, #BFDEE6, #232E81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 676px) {
  .home-seccion4 .right .boton {
    width: 95%;
  }
}
.home-seccion4 .left {
  text-align: center;
}
@media (min-width: 981px) {
  .home-seccion4 .left {
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    width: 50%;
  }
}
.home-seccion4 .left img {
  width: 100%;
  display: inline-block;
}

.home-seccion5 {
  order: 5;
  background: #F8F8F8;
}
.home-seccion5 .titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 34.52px;
  color: #444444;
  text-align: center;
  position: relative;
}
.home-seccion5 .titulo::after {
  content: "\f2d1";
  font-family: 'FontAwesome';
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -13px !important;
  color: #92C6D4;
  font-size: 26px;
}
.home-seccion5 .casosDeExito .sliderCasos .vermas-testimonios {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background: -webkit-linear-gradient(left, #BFDEE6, #232E81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 20px;
  bottom: 0px;
  z-index: 999;
}
.home-seccion5 .casosDeExito .sliderCasos .vermas-testimonios:hover {
  background: -webkit-linear-gradient(right, #BFDEE6, #232E81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-seccion5 .casosDeExito .sliderCasos .vermas-testimonios:after {
  font: normal normal normal 14px/1 FontAwesome !important;
  content: "\f178";
  margin-left: 3px;
}
.home-seccion5 .casosDeExito .sliderCasos .img-Comillas {
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -62px !important;
  top: 100px;
}
.home-seccion5 .casosDeExito .sliderCasos .unslider-arrow {
  display: none !important;
}
.home-seccion5 .casosDeExito .sliderCasos .unslider {
  margin-top: 50px;
  padding: 10px 0px;
}
@media (min-width: 981px) {
  .home-seccion5 .casosDeExito .sliderCasos .unslider {
    margin-top: 40px !important;
    padding: 30px 0px !important;
  }
}
@media (min-width: 981px) {
  .home-seccion5 .casosDeExito .sliderCasos .logo-testimonio {
    width: 30%;
    float: left;
    text-align: center;
  }
}
.home-seccion5 .casosDeExito .sliderCasos .logo-testimonio img {
  display: inline-block;
  max-width: 140px !important;
  height: auto !important;
}
@media (min-width: 981px) {
  .home-seccion5 .casosDeExito .sliderCasos .texto-testimonio {
    width: 70%;
    float: left;
    text-align: left !important;
  }
}
@media (max-width: 981px) {
  .home-seccion5 .casosDeExito .sliderCasos .texto-testimonio {
    padding-top: 50px;
  }
}
.home-seccion5 .casosDeExito .sliderCasos .texto-testimonio .texto {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #444444;
  font-weight: lighter;
  line-height: 1.4;
}
@media (min-width: 981px) {
  .home-seccion5 .casosDeExito .sliderCasos .texto-testimonio .texto {
    padding-right: 20px;
  }
}
.home-seccion5 .casosDeExito .sliderCasos .texto-testimonio .texto a {
  color: #92C6D4 !important;
  font-weight: bold;
  font-style: normal !important;
  margin-left: 5px;
}
.home-seccion5 .casosDeExito .sliderCasos .texto-testimonio .persona-cargo {
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
  color: #2C2C2C;
  margin-bottom: 20px;
  line-height: 1.5;
}
.home-seccion5 .casosDeExito .sliderCasos .texto-testimonio .persona-cargo span {
  color: #92C6D4 !important;
  font-weight: bold;
  font-style: normal !important;
}

.home-seccion6 {
  order: 6;
}

.home-seccion7 {
  order: 7;
}

#main-footer {
  background: #F9F9F9 !important;
  font-style: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  #main-footer .footer-widget {
    text-align: center;
  }
  #main-footer .footer-widget .widget_text {
    display: inline-block;
    float: initial !important;
  }
  #main-footer .footer-widget .widget_text h4:after {
    left: 50%;
    top: 20px;
    margin-left: -7.5px;
  }
  #main-footer .footer-widget .widget_text .texto {
    float: initial !important;
    display: inline-block;
  }
}
#main-footer h4 {
  color: #444444;
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 28px;
}
#main-footer h4::after {
  content: "\f2d1";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0%;
  top: 20px;
  color: #92C6D4;
  font-size: 15px;
}
#main-footer #text-2 .titulo {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  font-weight: bold;
  line-height: 1.5;
}
#main-footer #text-2 .texto {
  color: #444444;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1250px) and (min-width: 1060px) {
  #main-footer #text-2 .texto {
    font-size: 14px !important;
  }
}
@media (max-width: 1060px) and (min-width: 981px) {
  #main-footer #text-2 .texto {
    font-size: 12px !important;
  }
}
#main-footer #text-3 .titulo {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  font-weight: bold;
  margin: 20px 0px;
  line-height: 1.5;
}
#main-footer #text-3 .texto {
  color: #444444;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  float: left;
  margin-right: 5px;
}
@media (max-width: 1250px) and (min-width: 1060px) {
  #main-footer #text-3 .texto {
    font-size: 14px !important;
  }
}
@media (max-width: 1060px) and (min-width: 981px) {
  #main-footer #text-3 .texto {
    font-size: 12px !important;
  }
}
#main-footer #text-3 a {
  color: #444444;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-right: 2px;
  display: inline-block;
}
@media (max-width: 1250px) and (min-width: 1060px) {
  #main-footer #text-3 a {
    font-size: 14px !important;
  }
}
@media (max-width: 1060px) and (min-width: 981px) {
  #main-footer #text-3 a {
    font-size: 12px !important;
  }
}
@media (min-width: 981px) {
  #main-footer #text-4 {
    margin-top: 63px;
  }
}
#main-footer #text-4 .titulo {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  font-weight: bold;
  line-height: 1.5;
}
#main-footer #text-4 .texto {
  color: #444444;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1250px) and (min-width: 1060px) {
  #main-footer #text-4 .texto {
    font-size: 14px !important;
  }
}
@media (max-width: 1060px) and (min-width: 981px) {
  #main-footer #text-4 .texto {
    font-size: 12px !important;
  }
}
#main-footer .fa {
  font-size: 17px;
  color: #444444;
}
#main-footer .fa-phone, #main-footer .fa-envelope-o {
  float: left;
  margin-right: 5px;
}
#main-footer a {
  color: #444444 !important;
}
#main-footer .espacio {
  margin: 5px 0px;
}
#main-footer .marginTop-fot {
  margin-top: 20px;
}

@media (max-width: 981px) {
  .soluciones .et_pb_button_module_wrapper {
    text-align: center !important;
  }
  .soluciones .et_pb_image_wrap {
    width: 100% !important;
  }
  .soluciones .et_pb_image_wrap img {
    width: 100% !important;
  }
  .soluciones .et_pb_row {
    padding: 0px !important;
  }
}
@media (min-width: 981px) {
  .soluciones .margin-top {
    margin-top: 50px;
  }
}
@media (max-width: 981px) {
  .soluciones .imagen-app .et_pb_image_wrap {
    width: 100%;
  }
  .soluciones .imagen-app img {
    width: 100%;
  }
}
@media (min-width: 981px) {
  .soluciones .imagen-app img {
    min-height: 600.55px;
  }
}
.soluciones .titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 34.52px;
  text-align: center;
  color: #444444;
  position: relative;
  margin-bottom: 40px;
}
.soluciones .titulo::after {
  content: "\f2d1";
  font-family: 'FontAwesome';
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -14px !important;
  color: #92C6D4;
  font-size: 28px;
}
@media (max-width: 981px) {
  .soluciones .titulo {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .soluciones .titulo::after {
    display: none;
  }
}
@media (max-width: 1120px) {
  .soluciones #titulo-vozip .titulo {
    font-size: 27.52px !important;
  }
}
@media (max-width: 900px) and (min-width: 520px) {
  .soluciones #titulo-vozip .titulo:after {
    top: 50px !important;
  }
}
.soluciones .subtitulo {
  font-size: 25px;
  color: #444444;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media (max-width: 981px) {
  .soluciones .subtitulo {
    font-size: 20px !important;
  }
}
.soluciones .subsubtitulo {
  font-weight: bold;
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}
@media (min-width: 981px) {
  .soluciones .subsubtitulo {
    padding-top: 8%;
  }
}
.soluciones .titulo-cuadro {
  font-size: 25px;
  font-weight: 600;
  color: #444444;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 5px;
}
.soluciones .titulo-cuadro::before {
  content: "\f2d1";
  font-family: 'FontAwesome';
  position: absolute;
  color: #92C6D4;
  top: -40px;
}
@media (max-width: 550px) {
  .soluciones .titulo-cuadro {
    font-size: 19px !important;
  }
}
.soluciones .titulo-cuadro2 {
  font-size: 25px;
  font-weight: 600;
  color: #444444;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 5px;
}
@media (max-width: 981px) and (min-width: 460px) {
  .soluciones .titulo-cuadro2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 460px) {
  .soluciones .titulo-cuadro2 {
    margin-bottom: 50px;
  }
  .soluciones .titulo-cuadro2::after {
    top: 70px !important;
  }
}
.soluciones .titulo-cuadro2::after {
  content: "\f2d1";
  font-family: 'FontAwesome';
  position: absolute;
  color: #92C6D4;
  top: 45px;
  left: 0px;
}
.soluciones .titulo-zona {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  font-weight: bold;
}
.soluciones .texto {
  font-size: 17px;
  color: #444444;
  font-weight: lighter;
  line-height: 1.5;
  padding-bottom: 1em;
}
.soluciones .texto2 {
  font-size: 17px;
  color: #444444;
  font-weight: lighter;
  line-height: 1.5;
  padding-bottom: 1em;
  padding-left: 40px;
}
.soluciones .cuadro-gris {
  background: #F8F8F8;
  padding: 12% 8% 8% 8%;
  min-height: 375px;
}
@media (min-width: 131px) {
  .soluciones .cuadro-gris {
    min-height: 375px;
  }
}
@media (max-width: 1312px) and (min-width: 1150px) {
  .soluciones .cuadro-gris {
    min-height: 425px;
  }
}
@media (max-width: 1150px) and (min-width: 981px) {
  .soluciones .cuadro-gris {
    min-height: 475px;
  }
}
@media (max-width: 550px) {
  .soluciones .cuadro-gris {
    padding: 20% 8% 10% 8% !important;
  }
}
.soluciones .contacta {
  text-align: right;
  font-size: 20px;
  color: #444444;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 981px) {
  .soluciones .contacta {
    text-align: center !important;
  }
}
.soluciones .et_pb_button {
  background: #93C7D5;
  color: white !important;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  border: 0px !important;
}
.soluciones .et_pb_button:hover {
  color: #93C7D5 !important;
}
.soluciones .subtitulo-cuadro {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  margin-bottom: 5px;
}
@media (min-width: 981px) {
  .soluciones .subtitulo-cuadro {
    margin-left: 40px;
  }
}
.soluciones .subtitulo-certificaciones {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  margin-bottom: 5px;
  margin-top: 50px;
}
.soluciones .fa {
  font-size: 35px;
  color: #92C6D4;
  float: left;
}
.soluciones .fa-check {
  display: inline-block;
  font: normal normal normal 17px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444444;
  margin-right: 10px;
}
.soluciones .fa-stop {
  font-size: 20px !important;
}
@media (max-width: 980px) {
  .soluciones .funcionalidades-principales {
    padding: 0px !important;
  }
  .soluciones .funcionalidades-principales .et_pb_column {
    margin-bottom: 0px !important;
  }
  .soluciones .funcionalidades-principales .et_pb_row {
    padding-bottom: 0px !important;
  }
  .soluciones .funcionalidades-principales .fa-check {
    margin: 20px 0px !important;
    font-size: 16px !important;
  }
  .soluciones .funcionalidades-principales .fa-check:before, .soluciones .funcionalidades-principales .fa-check span {
    margin: 0px !important;
  }
  .soluciones .funcionalidades-principales .tooltiptext {
    margin-left: 0px !important;
    width: 100% !important;
  }
}
.soluciones .funcionalidades-principales .et_pb_column_14, .soluciones .funcionalidades-principales .et_pb_column_15 {
  z-index: 999;
}
.soluciones .funcionalidades-principales .fa-check {
  color: #444444;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
  width: 100% !important;
  margin-right: 5px !important;
}
.soluciones .funcionalidades-principales .fa-check:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #92C6D4;
  font-size: 20px;
  margin-right: 10px !important;
}
@media (max-width: 981px) {
  .soluciones .funcionalidades-principales .fa-check {
    margin: 10px 0px;
    text-align: center !important;
  }
  .soluciones .funcionalidades-principales .fa-check .fa-info-circle {
    display: block !important;
    width: 100% !important;
    margin-top: 8px !important;
  }
}
@media (max-width: 981px) and (min-width: 800px) {
  .soluciones .funcionalidades-principales .fa-check {
    width: 50% !important;
    float: left !important;
    margin: 10px 0px !important;
    min-height: 50px;
  }
}
.soluciones .funcionalidades-principales .fa-info-circle {
  position: relative;
}
.soluciones .funcionalidades-principales .fa-info-circle:before {
  font-size: 20px;
  color: #2C2C2C;
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
}
.soluciones .funcionalidades-principales .fa-info-circle:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.soluciones .funcionalidades-principales .fa-info-circle .tooltiptext {
  visibility: hidden;
  width: 420px;
  height: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 15px;
  position: absolute;
  z-index: 999;
  bottom: 125%;
  left: 0;
  margin-left: -202px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  line-height: 1.5;
}
.soluciones .funcionalidades-principales .fa-info-circle .tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.soluciones .funcionalidades-principales2 .fa-check {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 10px;
  line-height: 1.4;
  width: 100%;
}
.soluciones .funcionalidades-principales2 .fa-check:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444444;
  font-size: 20px;
  margin-right: 10px;
}
.soluciones .numero-prestaciones {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: #92C6D4;
}
@media (min-width: 981px) {
  .soluciones .numero-prestaciones {
    position: absolute;
    top: -6px;
  }
}

.container:before {
  content: '';
  display: none !important;
}

#acordeon a {
  display: inline-block;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #2C2C2C;
  width: 100% !important;
}
#acordeon a span {
  font-size: 20px;
  color: #92C6D4;
  font-weight: bold;
  margin-right: 10px;
}
#acordeon .active:after {
  content: '-';
  position: absolute;
  right: 0;
}
#acordeon .no-active:after {
  content: '+';
  position: absolute;
  right: 0;
}
#acordeon .texto-acordeon {
  display: none;
  padding: 10px 13px 10px 25px;
  font-size: 17px;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  color: #4F4F4F;
}

#prestaciones {
  position: relative;
  margin-bottom: 10px;
}
@media (min-width: 981px) {
  #prestaciones {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 1200px) {
  .col-lg-6 {
    width: 50%;
    float: left;
  }
}

@media (min-width: 981px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
}

@media (min-width: 981px) {
  .conectividad-seccionflex2 {
    clear: right;
    display: flex;
    align-items: stretch;
  }
  .conectividad-seccionflex2 .right {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
@media (max-width: 981px) {
  .conectividad-seccionflex2 .titulo-cuadro:before {
    display: none;
  }
}
.conectividad-seccionflex2 .right {
  padding-left: 5%;
  padding-right: 20%;
  padding: 86px 20% 86px 5%;
}
@media (max-width: 1550px) and (min-width: 981px) {
  .conectividad-seccionflex2 .right {
    padding: 86px 5% 86px 5% !important;
  }
}
@media (max-width: 981px) {
  .conectividad-seccionflex2 .right {
    width: 100%;
    text-align: center;
    padding: 50px 0px !important;
  }
}
.conectividad-seccionflex2 .right .titulo {
  font-size: 25px;
  color: #2C2C2C;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.conectividad-seccionflex2 .right .texto {
  color: #4F4F4F;
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 981px) {
  .conectividad-seccionflex2 .right .texto {
    padding: 0px 5% !important;
    text-align: center;
  }
}
.conectividad-seccionflex2 .right .boton {
  font-size: 20px;
  width: 336px;
  display: inline-block;
  padding: 14px 0px;
}
@media (max-width: 676px) {
  .conectividad-seccionflex2 .right .boton {
    width: 95%;
  }
}
.conectividad-seccionflex2 .left {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 981px) {
  .conectividad-seccionflex2 .left {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 981px) {
  .conectividad-seccionflex2 .left {
    justify-content: center;
    display: flex;
    width: 50%;
  }
}
.conectividad-seccionflex2 .left img {
  width: 100%;
  display: inline-block;
}
@media (max-width: 981px) {
  .conectividad-seccionflex2 .left img {
    padding: 200px 0px;
  }
}

.conectividad-seccionflex {
  clear: right;
}
@media (max-width: 981px) {
  .conectividad-seccionflex .titulo-cuadro:before {
    display: none;
  }
}
@media (min-width: 981px) {
  .conectividad-seccionflex {
    display: flex;
    align-items: stretch;
  }
  .conectividad-seccionflex .left {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .conectividad-seccionflex .right {
    justify-content: center;
    display: flex;
    width: 50%;
  }
}
.conectividad-seccionflex .left {
  padding-left: 20%;
  padding-right: 5%;
  padding: 86px 5% 86px 20%;
}
@media (max-width: 1550px) and (min-width: 981px) {
  .conectividad-seccionflex .left {
    padding: 86px 5% 86px 5% !important;
  }
}
@media (max-width: 981px) {
  .conectividad-seccionflex .left {
    width: 100%;
    text-align: center;
    padding: 50px 0px !important;
  }
}
.conectividad-seccionflex .left .titulo {
  font-size: 25px;
  color: #2C2C2C;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.conectividad-seccionflex .left .texto {
  color: #4F4F4F;
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 981px) {
  .conectividad-seccionflex .left .texto {
    padding: 0px 5% !important;
    text-align: center;
  }
}
.conectividad-seccionflex .left .boton {
  font-size: 20px;
  width: 336px;
  display: inline-block;
  padding: 14px 0px;
}
@media (max-width: 676px) {
  .conectividad-seccionflex .left .boton {
    width: 95%;
  }
}
.conectividad-seccionflex .right {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.conectividad-seccionflex .right img {
  width: 100%;
  display: inline-block;
}
@media (max-width: 981px) {
  .conectividad-seccionflex .right img {
    padding: 200px 0px;
  }
}

#newsletter-footer {
  padding: 50px 0px;
  background: #F1F1F1;
}
@media (max-width: 981px) {
  #newsletter-footer {
    padding: 50px 0px 90px !important;
  }
}
#newsletter-footer input[type=email] {
  padding: 14px 10px;
  border: 0px;
  width: 100%;
  border-radius: 3px;
}
@media (min-width: 650px) {
  #newsletter-footer input[type=email] {
    width: 60% !important;
  }
}
#newsletter-footer input[type=email]::-webkit-input-placeholder {
  color: #444444;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
#newsletter-footer input[type=email]:-moz-placeholder {
  color: #444444;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
#newsletter-footer input[type=email]::-moz-placeholder {
  color: #444444;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
#newsletter-footer input[type=email]:-ms-input-placeholder {
  color: #444444;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
#newsletter-footer input[type=submit] {
  padding: 11.5px 10px;
  background: #92C6D4;
  color: white;
  font-size: 17px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #92C6D4;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
}
@media (min-width: 650px) {
  #newsletter-footer input[type=submit] {
    width: 35%;
    margin-left: 2%;
  }
}
@media (max-width: 650px) {
  #newsletter-footer input[type=submit] {
    margin-top: 5px;
  }
}
#newsletter-footer input[type=submit]:hover {
  background: white;
  color: #92C6D4;
  border: 1px solid #82C6D4;
}
#newsletter-footer .chekbox-div {
  position: absolute;
  width: 100%;
  margin-top: 10px;
}
@media (max-width: 650px) {
  #newsletter-footer .chekbox-div {
    margin-top: 60px !important;
  }
}
#newsletter-footer .chekbox-div input {
  float: left;
}
#newsletter-footer .chekbox-div p {
  padding-top: 2px;
  color: #2C2C2C;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}
#newsletter-footer .chekbox-div p a {
  color: #2C2C2C;
  text-decoration: underline;
}

@media (min-width: 789px) {
  .bloque-contacto .recaptcha-contacto {
    float: left;
  }
}
.bloque-contacto .enviar-contacto {
  margin-top: 10px;
}
.bloque-contacto .acepto-politica {
  width: 100%;
}
@media (max-width: 981px) {
  .bloque-contacto .acepto-politica .wpcf7-list-item {
    margin: 0px !important;
  }
}
@media (min-width: 981px) {
  .bloque-contacto .acepto-politica {
    text-align: right;
  }
}
.bloque-contacto .acepto-politica .wpcf7-form-control-wrap {
  position: relative;
  display: inline-block;
}
.bloque-contacto .acepto-politica .acept-newsletter {
  display: inline-block;
  font-size: 17px;
  color: #8E8E8E;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.bloque-contacto .acepto-politica .acept-newsletter a {
  color: #8E8E8E;
}
@media (max-width: 981px) {
  .bloque-contacto .acepto-politica .acept-newsletter {
    font-size: 13px !important;
  }
}
.bloque-contacto .wpcf7-form-control-wrap {
  position: relative;
}
.bloque-contacto input[type=tel] {
  border-top: 0px solid #979797;
  border-right: 0px solid #979797;
  border-left: 0px solid #979797;
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
}
@media (min-width: 981px) {
  .bloque-contacto input[type=tel] {
    width: 31.3%;
  }
}
@media (max-width: 981px) {
  .bloque-contacto input[type=tel] {
    width: 100%;
    margin: 10px 0px;
  }
}
.bloque-contacto input[type=text] {
  border-top: 0px solid #979797;
  border-right: 0px solid #979797;
  border-left: 0px solid #979797;
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
}
@media (min-width: 981px) {
  .bloque-contacto input[type=text] {
    width: 31.3%;
    margin-right: 3%;
  }
}
@media (max-width: 981px) {
  .bloque-contacto input[type=text] {
    width: 100%;
    margin: 10px 0px;
  }
}
.bloque-contacto input[type=email] {
  border-top: 0px solid #979797;
  border-right: 0px solid #979797;
  border-left: 0px solid #979797;
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
}
@media (min-width: 981px) {
  .bloque-contacto input[type=email] {
    width: 31.3%;
    margin-right: 3%;
  }
}
@media (max-width: 981px) {
  .bloque-contacto input[type=email] {
    width: 100%;
    margin: 10px 0px;
  }
}
.bloque-contacto textarea {
  width: 100%;
  margin-top: 30px;
  border: 1px solid #979797;
  /* border: 0px; */
  margin-bottom: 30px;
}
.bloque-contacto textarea::-webkit-input-placeholder {
  color: #979797;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.bloque-contacto textarea:-moz-placeholder {
  color: #979797;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.bloque-contacto textarea::-moz-placeholder {
  color: #979797;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.bloque-contacto textarea:-ms-input-placeholder {
  color: #979797;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.bloque-contacto input::-webkit-input-placeholder {
  color: #8D8D8D;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.bloque-contacto input:-moz-placeholder {
  color: #8D8D8D;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.bloque-contacto input::-moz-placeholder {
  color: #8D8D8D;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.bloque-contacto input:-ms-input-placeholder {
  color: #8D8D8D;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.bloque-contacto .wpcf7-submit {
  background: #93C7D5;
  padding: 16px 0px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid #93C7D5 !important;
  cursor: pointer;
}
.bloque-contacto .wpcf7-submit:hover {
  background: white;
  color: #93C7D5;
  border: 1px solid #93C7D5 !important;
}
@media (min-width: 981px) {
  .bloque-contacto .wpcf7-submit {
    width: 321px;
    float: right;
  }
}
@media (max-width: 981px) {
  .bloque-contacto .wpcf7-submit {
    width: 100%;
  }
}

#contacto-zonas .titulo {
  font-size: 20px;
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
#contacto-zonas .texto {
  padding-bottom: 0.3em !important;
}
#contacto-zonas .fa {
  display: block !important;
  color: #444444;
  font-size: 20px;
  margin-right: 10px;
}
#contacto-zonas .fa-map-marker {
  float: initial !important;
  margin-bottom: 5px;
}

.feature-map {
  height: 470px;
}
.feature-map iframe {
  height: 470px;
  width: 100%;
  border: 0;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(99%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */
}

.nav li .sub-menu {
  visibility: hidden;
  z-index: 9999;
  border-top: 3px solid #92C6D4;
}
@media (min-width: 981px) {
  .nav li .sub-menu {
    width: 310px !important;
  }
}
@media (min-width: 981px) {
  .nav li .sub-menu .menu-item {
    width: 90% !important;
    margin-left: 5% !important;
    padding: 0px !important;
  }
}
.nav li .sub-menu .menu-item a {
  width: 100% !important;
}
.nav li li {
  width: 90%;
  margin-left: 5%;
}

.datos-empresa-header {
  position: absolute;
  right: 5%;
  padding: 3px 15px;
  -webkit-box-shadow: 0px 0px 15px 1px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
}
@media (max-width: 981px) {
  .datos-empresa-header {
    display: none !important;
  }
}
.datos-empresa-header p {
  display: inline-block;
  margin: 0px 2px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #444444;
}
.datos-empresa-header span {
  margin: 0px 2px;
}

.texto-legal h2 {
  font-font-family: "Montserrat", sans-serif;
}
.texto-legal p, .texto-legal li {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding-bottom: 1em;
  font-weight: lighter;
}

#main-header .container {
  width: 100% !important;
  max-width: initial !important;
  padding: 0px 5%;
}

@media (min-width: 981px) {
  .imagen-responsive {
    display: none !important;
  }
}

@media (max-width: 981px) {
  .imagen-noresponsive {
    display: none !important;
  }
}

.mobile_menu_bar:before {
  color: #7EC5D5 !important;
}

@media (max-width: 981px) {
  #telefonia-movil .et_pb_column {
    margin-bottom: 0px !important;
  }
  #telefonia-movil .et_pb_text {
    margin: 10px 0px;
  }
}

@media (min-width: 981px) {
  #servicios-contacto {
    margin-top: 5.82%;
  }
}
@media (max-width: 981px) {
  #servicios-contacto {
    text-align: center;
  }
}

@media (max-width: 981px) {
  #contacto-zonas {
    text-align: center;
  }
  #contacto-zonas .fa {
    float: initial !important;
    display: inline-block;
  }
}

#copytext p, #copytext span, #copytext a {
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
#copytext h1, #copytext h2, #copytext h3, #copytext h4, #copytext h5 {
  margin-top: 30px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 981px) {
  #casosDeExito .sliderCasos.vertical-slider-wrapper ul li {
    padding: 40px 40px 70px 40px !important;
  }
}

.bx-wrapper {
  max-width: initial !important;
  width: 100% !important;
  margin: 0px !important;
}

#valor-añadido .subtitulo-cuadro {
  margin-left: 40px !important;
}

@media (max-width: 981px) {
  #valor-añadido2 p {
    display: inline-block;
  }
  #valor-añadido2 .subtitulo-cuadro {
    margin-left: 15px !important;
  }
}

@media (min-width: 981px) {
  .margen-contactar {
    margin-top: 3.82%;
  }

  .page-id-78 .et_pb_row_2 {
    margin-top: 1.82%;
  }
}
@media (max-width: 479px) {
  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_0 {
    width: 100% !important;
  }

  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_1 {
    width: 47.25% !important;
    margin-right: 5.5%;
  }

  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_2 {
    width: 47.25% !important;
  }

  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_3 {
    width: 47.25% !important;
    margin-right: 5.5%;
  }

  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_4 {
    width: 47.25% !important;
  }

  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_5 {
    width: 47.25% !important;
    margin-right: 5.5%;
  }

  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_6 {
    width: 47.25% !important;
  }

  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_7 {
    width: 47.25% !important;
    margin-right: 5.5%;
  }

  .home-seccion2 .et_pb_row .et_pb_column.et_pb_column_8 {
    width: 47.25% !important;
  }

  .home-seccion2 .et_pb_row .et_pb_column .texto8 {
    margin: 0px !important;
  }
}
#hotspot-numeros {
  background: #F8F8F8;
}
#hotspot-numeros span {
  float: left;
  font-weight: bold;
  font-size: 35px;
  color: #92C6D4;
}
#hotspot-numeros .texto {
  padding-left: 30px;
}
#hotspot-numeros .titulo-cuadro {
  margin-bottom: 30px;
}
@media (min-width: 981px) {
  #hotspot-numeros #right {
    padding-left: 5%;
  }
}
@media (min-width: 981px) {
  #hotspot-numeros #left {
    padding-right: 5%;
  }
}
#hotspot-numeros .container div {
  margin: 10px 0px;
}

.certificados img {
  max-width: 200px;
}

.mergeHome {
  background: -webkit-linear-gradient(right, #116ca2, #704872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instalacionesTexto {
  background: -webkit-linear-gradient(right, #116ca2, #704872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-align: right;
}

.instaTexto2 {
  font-weight: bold;
  text-align: right;
}

/*ACCESEO DICIEMBRE 2019*/
.et-fixed-header .logoCertificado img#logo {
  height: 100px;
}

@media (max-width: 1468px) {
  .logoCertificado img#logo {
    margin-left: 20px !important;
    height: 90px;
  }
}

@media (max-width: 1028px) {
  .logoCertificado img#logo {
    margin-left: 5px !important;
    height: 73px;
  }
}

/*# sourceMappingURL=style.css.map */
